.delete-spot-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    width: 250px;
    font-family: "Avenir";
}


.delete-spot-modal > h1 {
    margin: 0;
}

#delete-spot-span {
    margin: 8px;
    font-size: 12px;
}

.confirm-delete {
    background-color: red;
    color: white;
    padding: 8px 0;
    width: 100%
}

.do-not-delete {
    background-color: gray;
    color: white;
    margin-top: 10px;
    padding: 8px 0;
    width: 100%
}
