.create-a-review-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    width: 400px;
    font-family: "Avenir";
}

#review-text {
    width: 100%;
    resize: none;
    margin-bottom: 10px;
}


.confirm-review, .not-confirmed-review {
    width: 100%;
    padding: 10px 0
}

.confirm-review {
    background-color: red;
    color: white;
}

.rating-input {
    display: flex;
    margin-right: 4px;
    font-size: 22px;
    margin-bottom: 10px;
    font-family: "Avenir";
    align-items: center;
}

.filled {
    background-color: black;
}
