.hidden {
    display: none;
}

.profile-elements-manage-spot {
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 5px ;
}

#manage-spot {
    margin: 10px 0;
    cursor: pointer;
}

#create-a-spot {
    position: absolute;
    right: 100px;
    font-family: "Avenir";
    text-decoration: none;
    color: black;
}

#create-a-spot:hover {
    text-decoration: underline;
}

.nav-bar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
}

.profile-button {
    border: 1px solid #656565;
    background-color: transparent;
    padding: 8px 10px;
    justify-content: space-around;
    border-radius: 25px;
    align-items: center;
    cursor: pointer;
}

.profile-elements-manage-spot:hover {
    background-color: #d8d8d8;
    cursor: pointer;
}

.profile-button:hover {
    background-color: #e8e8e8;
}

.profile-icons {
    margin-left: 7px;
    color: #656565;
}

.profile-dropdown {
    padding: 0;
    z-index: 10;
    background-color: white;
    position: absolute;
    list-style-type: none;
    width: fit-content;
    top: 70px;
    right: 10px;
    border: 1px solid #656565;
    min-width: 150px;
    font-family: "Avenir";
    font-weight: 500;
}


#profile-logout {
    justify-content: center;
}

.profile-elements-loggedIn {
    display: flex;
    justify-content: center;
}

#logout-button {
    background-color: #656565;
    color: white;
    padding: 10px;
    border-radius: 20px;
    align-self: center;
    cursor: pointer;
    box-shadow: 3px 3px 3px #000000;
}

#logout-button:hover {
    box-shadow: none;
}


.nav-logo {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.profile-elements {
    cursor: pointer;
    padding: 7px 10px 5px 10px;
}

.profile-elements:hover {
    background-color: #e8e8e8;
}

#profile-elements-logout-button {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
